{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <script async src="https://tp.media/content?currency=usd&trs=328805&shmarker=553715&show_hotels=true&powered_by=true&locale=ru&searchUrl=search.hotellook.com&primary_override=%23FF8E01&color_button=%23FF8E01&color_icons=%23FF8E01&secondary=%23FFFFFF&dark=%23262626&light=%23FFFFFF&special=%23C4C4C4&color_focused=%23FF8E01&border_radius=5&plain=false&promo_id=7873&campaign_id=101" charset="utf-8"></script>
<!--    <form method="post" class="form" action="{% url 'search' %}">-->
<!--        {% csrf_token %}-->
<!--        <div class="mb-3">-->
<!--            <label for="location" class="form-label">Location</label>-->
<!--            <input type="text" class="form-control" id="location" name="location">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="checkin" class="form-label">Check-in</label>-->
<!--            <input type="date" class="form-control" id="checkin" name="checkin">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="checkout" class="form-label">Check-out</label>-->
<!--            <input type="date" class="form-control" id="checkout" name="checkout">-->
<!--        </div>-->
<!--        <div class="mb-3">-->
<!--            <label for="guests" class="form-label">Guests</label>-->
<!--            <input type="number" class="form-control" id="guests" name="guests">-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-primary">Search</button>-->
<!--    </form>-->
</div>
{% endblock %}
