body {
    background-color: #B2DFDB;
    background-image: url(./img/jayanth-muppaneni-U9U310_-3v0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}


